
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




/* ==========================================================================
   Header styles
   ========================================================================== */

/*MAIN*/

body {
    background-color: #f4f4f4f4;
}

a {

    color: #4C9CF1;
    text-decoration: none;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a :hover {
    color: #2262AD;
}



img {

    width: 100%;

}

header {

    background: #fff;
    width: 100%;
    height: 86px;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 4px solid #9099A2;
    z-index: 100;

}

#Questions, #Resume, #CoverLetter{
    padding-top: 96px;
}

#logo{

    margin: 20px 20px 20px 10px;
    font-size: 30px;
    float: left;
    width: 300px;
    display: block;
}

nav {

    float: right;
    padding: 20px;      
}

#menu-icon {

    display: hidden;
    width: 40px;
    height: 40px;
    background: #1EAEDB url(../img/menu-icon.png) center;
}

a:hover#menu-icon {

    background-color: #444;
    border-radius: 4px 4px 0 0;
}

ul {

    list-style: none;
}

li {

    display: inline-block;
    float: left;
    padding: 10px

}

.current {

    color: #C0B283;

}

.question {
    color: #1D2951;
}

p, h4 {
    color: #373737;
}

section {

    margin: 80px auto 40px;
    max-width: 980px;
    position: relative;
    padding: 20px

}

h1 {

    color: #C0B283;
    margin: 1500px 0px 100px 0px ;
}

h3 {
    color: #6D7993;
}

p {

    line-height: 1.45em;
    margin-bottom: 20px;

}

.about {
    text-align: center;
}

/*MEDIA QUERY*/
@media only screen and (max-width : 685px) {

    nav {
        margin-top: 8px;
        margin-left: auto;
        margin-right: auto;
        width: 8em;
        font-size: 1.1em;
        padding: 0px 0px 0px 0px;
    }

    header {
        height: 160px;
    }

    #logo {
        margin-top: 30px;
        font-size: 30px;
        width: 160px;
    }

    li {
        padding: 8px;
        float: left;
        margin-bottom: 1rem; 

    }

    #About, #Questions, #Resume, #CoverLetter{
    padding-top: 176px;
    }

    p {
        font-size: 1.1em;
    }

   /* header {

        position: absolute;

    }

    #menu-icon {

        display:inline-block;

    }

    nav ul, nav:active ul { 

        display: none;
        position: absolute;
        padding: 20px;
        background: #fff;
        border: 5px solid #444;
        right: 20px;
        top: 60px;
        width: 50%;
        border-radius: 4px 0 4px 4px;

    }

    nav li {

        text-align: center;
        width: 100%;
        padding: 10px 0;
        margin: 0;

    }

    nav:hover ul {

        display: block;

    }*/
}
/* ==========================================================================
   Body styles
   ========================================================================== */


@media only screen and (max-width : 640px) {

    .space {
        padding-top: 200px;
    }
}


#quickstart {
    margin: 50px 40% 50px 50%;
}


.space {
    padding-top: 100px;
}

@media only screen and (max-width : 770px) {

   
}

/* ==========================================================================
   Footer styles
   ========================================================================== */

footer {
  margin-top: 30px;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: left;
}

ol, li {
    list-style-type: none;
    outline-style: none;
    text-decoration: none;
}

 a {
    text-decoration: none;
    color: #222;
}

 a:hover ,  a:active {
    color: rgb(128,128,128);
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}




