
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




/* ==========================================================================
   Header styles
   ========================================================================== */

/*MAIN*/

body {
    background-color: #f4f4f4f4;
}

a {

    color: #4C9CF1;
    text-decoration: none;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a :hover {
    color: #2262AD;
}

img {
    height: 100px;
    width: 100px;
}

img a {
    box-shadow: inset 0 0 0 1000px rgba(255,0,0);
}


header {

    background: #fff;
    width: 100%;
    height: 86px;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 4px solid #9099A2;
    z-index: 100;

}

#Questions, #Resume, #CoverLetter{
    padding-top: 96px;
}

#logo{

    margin: 20px 20px 20px 10px;
    font-size: 30px;
    float: left;
    width: 300px;
    display: block;
}

nav {

    float: right;
    padding: 20px;      
}

#menu-icon {

    display: hidden;
    width: 40px;
    height: 40px;
    background: #1EAEDB url(../img/menu-icon.png) center;
}

.photo {
    height: 310px;
    width: 310px;
    border-radius: 50%;
    margin: 0 auto;
    background: #fff center;
}

#me {

    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: #fff url(../img/me.jpg) center;
}

.answerimage {
    background-repeat: no-repeat;        
    position: relative;        
    width: auto;            
    height: 620px;       
    margin-left: auto;      
    margin-right: auto;
}


#overlay :hover {
    max-width:100%;
    background: url(../img/mag.svg) center; 
    opacity: .3;
    box-shadow: inset 0 0 0 1000px rgba(0,0,220,) center;
    background-repeat: no-repeat;
}


#one{

    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #fff url(../img/begin.png) center;
    background-repeat: no-repeat;

}

#two{

    height: 80%;
    width: 100%;
    overflow: hidden;
    background: #fff url(../img/end.png) center;
    background-repeat: none;
    background-repeat: no-repeat;
}

#six {
    height: 782px;
    width: 800px;
    overflow: hidden;
    background: #000000 url(../img/meeting.png) center;
    background-repeat: no-repeat;
    margin: 0 auto;
    left: 15%;
    top: 8%;
    margin-top: 20px;
    margin-bottom: -345px;
}

#four {
    height: 518px;
    width: 800px;
    overflow: hidden;
    background: #000000 url(../img/mds.png) center;
    background-repeat: no-repeat;
    margin: 0 auto;
    left: 15%;
    top: 8%;
    margin-top: 20px;
    margin-bottom: -242px;
}

#five {
    height: 545px;
    width: 800px;
    overflow: hidden;
    background: #000000 url(../img/begin.png) center;
    background-repeat: no-repeat;
    margin: 0 auto;
    left: 15%;
    top: 8%;
    margin-top: 20px;
    margin-bottom: -260px;
}

#seven {
    height: 783px;
    width: 800px;
    overflow: hidden;
    background: #000000 url(../img/specs.png) center;
    background-repeat: no-repeat;
    margin: 0 auto;
    left: 15%;
    top: 8%;
    margin-top: 20px;
    margin-bottom: -350px;
}

#three {
    height: 718px;
    width: 800px;
    overflow: hidden;
    background: #000000 url(../img/whiteboard.png) center;
    background-repeat: no-repeat;
    margin: 0 auto;
    left: 15%;
    top: 8%;
    margin-top: 20px;
    margin-bottom: -324px;
}

#eight {
    height: 418px;
    width: 800px;
    overflow: hidden;
    background: #000000 url(../img/invoices.png) center;
    background-repeat: no-repeat;
    margin: 0 auto;
    left: 15%;
    top: 8%;
    margin-top: 20px;
    margin-left: -15px;
    margin-bottom: -200px;
}

#nine {
    height: 3567px;
    width: 800px;
    overflow: hidden;
    background: #000000 url(../img/zendesk.png) center;
    background-repeat: no-repeat;
    margin: 0 auto;
    left: 15%;
    top: 8%;
    margin-top: 20px;
    margin-bottom: -1800px;
}


.thumbnail {
    width: calc(100% * 0.50);
    height: calc(100% * 0.50);
    -ms-zoom: 0.5;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.5);
    -webkit-transform-origin: 0 0;
}

.videowrapper {
    float: none;
    clear: both;
    width: 700px;
    height: 700px;
    position: relative;
    padding-bottom: 46.25%;
    padding-top: 25px;
    margin: 0 auto;
    max-width: 100%;
}

.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 700px;
    max-height: 400px;
}




.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    overflow-y: auto;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 80%;
    height: 805px;
    position: relative;
    display: block;
    margin: 5% auto;
    padding: 5px 20px 13px 20px;
    overflow-y: initial !important;
    hover: none;
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 81px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
}


button, a:hover#menu-icon {

    background-color: #444;
    border-radius: 4px 4px 0 0;
}

ul {

    list-style: none;
}

li {

    display: inline-block;
    float: left;
    padding: 10px

}

.current {

    color: #C0B283;

}

.question {
    color: #1D2951;
    font-weight: bold;
}

p, h4 {
    color: #373737;
}

section {

    margin: 80px auto 40px;
    max-width: 980px;
    position: relative;
    padding: 20px

}

h1 {

    color: #C0B283;
    margin: 1500px 0px 100px 0px ;
}

h3 {
    color: #6D7993;
}

p {

    line-height: 1.45em;
    margin-bottom: 20px;

}

.smallnote {
    
    font-size: .8em;
}

.about {
    text-align: center;
}

/*MEDIA QUERY*/
@media only screen and (max-width : 685px) {

    .container {
        width: 100%;
    }
    
    nav {
        margin-top: 8px;
        margin-left: auto;
        margin-right: auto;
        width: 8em;
        font-size: 1.1em;
        padding: 0px 0px 0px 0px;
    }

    header {
        height: 160px;
    }

    #logo {
        margin-top: 30px;
        font-size: 30px;
        width: 160px;
    }

    li {
        padding: 8px;
        float: left;
        margin-bottom: 1rem; 

    }

    #About, #Questions, #Resume, #CoverLetter{
    padding-top: 176px;
    }

    p {
        font-size: 1.1em;
    }


}
/* ==========================================================================
   Body styles
   ========================================================================== */


@media only screen and (max-width : 640px) {

    .space {
        padding-top: 200px;
    }

    .videowrapper {
    float: none;
    clear: both;
    width: 400px;
    height: 400px;
    position: relative;
    padding-bottom: 46.25%;
    padding-top: 25px;
    margin: 0 auto;
    max-width: 100%;
}
}


#quickstart {
    margin: 50px 40% 50px 50%;
}


.space {
    padding-top: 100px;
}

@media only screen and (max-width : 770px) {

   
}

/* ==========================================================================
   Footer styles
   ========================================================================== */

footer {
  margin-top: 30px;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: left;
}

ol, li {
    list-style-type: none;
    outline-style: none;
    text-decoration: none;
}

 a {
    text-decoration: none;
    color: #222;
}

 a:hover ,  a:active {
    color: rgb(128,128,128);
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}




